<% content_for :body do %>
		<!-- Inline Init Script -->

		<script type="text/javascript">

			$(document).ready(function () {
				var countdown1 = new Countdown({

					holder_id : "countdownHolder1",

					holder_width: 545,

					show_working_dates: true,

					show_progress_bar: true

				});

			});

		</script>

				<div id="countdownHolder1">

					<!-- holder for countdown -->

				</div>
<% end %>
