
<!DOCTYPE html>

<html>

	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

		<title>Vector Animated Countdown</title>



		<!-- CSS Styles Start -->

		<link rel="stylesheet" href="css/reset.css" type="text/css" media="screen"/>

		<link rel="stylesheet" href="css/styles.css" type="text/css" media="screen"/>

		<link rel="stylesheet" href="css/countdown.css" type="text/css" media="screen"/>

		<!-- CSS Styles End -->



		<!-- Scripts Start -->

		<script src="js/jquery-1.7.2.js" type="text/javascript"></script>

		<script src="js/jquery.textShadow.js" type="text/javascript"></script>

		<script src="js/jquery.backgroundpos.js" type="text/javascript"></script>

		<script src="js/raphael.js" type="text/javascript"></script>

		<script src="js/helvetica.js" type="text/javascript"></script>

		<script src="js/countdown.js" type="text/javascript"></script>

		<!-- Scripts End -->



		<!-- Inline Init Script -->

		<script type="text/javascript">

			$(document).ready(function () {



				if (/MSIE/.test(navigator.userAgent)) {

					$("body").addClass("ie");

				}



				if (/MSIE 7/.test(navigator.userAgent)) {

					$("body").addClass("ie7");

				}



				//real time limits

				//var start_works_date = new Date(2012, 6, 13, 23, 30, 0, 0).getTime();

				//var end_works_date = new Date(2012, 6, 16, 23, 43, 0, 0).getTime();



				//dump time limits: 2 days before current date and 2 days after

				//remove this three lines and uncomment lines before with right date limits



				var countdown1 = new Countdown({

					holder_id : "countdownHolder1",

					holder_width: 545,

					show_working_dates: true,

					show_progress_bar: true

				});



				var dump_current_date2 = new Date().getTime();

				var start_works_date2 = dump_current_date2 + 1 * 86400000;

				var end_works_date2 = dump_current_date2 + 2 * 86400000;

				var width2 = 630;



				var countdown2 = new Countdown({

					holder_id : "countdownHolder2",

					holder_width: width2,

					start_work: start_works_date2,

					end_work : end_works_date2,

					show_working_dates: true,

					show_progress_bar: true,

					progress_bar_color: "blue"

				});





				var dump_current_date3 = new Date().getTime();

				var start_works_date3 = dump_current_date3 + 1 * 86400000;

				var end_works_date3 = dump_current_date3 + 2 * 86400000;

				var width3 = 545;



				var countdown3 = new Countdown({

					holder_id : "countdownHolder3",

					holder_width: width3,

					start_work: start_works_date3,

					end_work : end_works_date3,

					show_working_dates: true,

					show_progress_bar: true,

					progress_bar_color: "green",

					fill: "#000000",

					stroke: "#ffffff",

					"fill_opacity": 0.5,

					"stroke_width": 1

				});



				var dump_current_date4 = new Date().getTime();

				var start_works_date4 = dump_current_date4 - 2 * 86400000;

				var end_works_date4 = dump_current_date4 + 2 * 86400000;

				var width4 = 400;



				var countdown4 = new Countdown({

					holder_id : "countdownHolder4",

					holder_width: width4,

					start_work: start_works_date4,

					end_work : end_works_date4,

					show_working_dates: true,

					show_progress_bar: true,

					"stroke_width": 3

				});



				var dump_current_date5 = new Date().getTime();

				var start_works_date5 = dump_current_date5 - 2 * 86400000;

				var end_works_date5 = dump_current_date5 + 3 * 86400000;

				var width5 = 200;



				var countdown5 = new Countdown({

					holder_id : "countdownHolder5",

					holder_width: width5,

					start_work: start_works_date5,

					end_work : end_works_date5,

					show_working_dates: true,

					show_progress_bar: true,

					progress_bar_color: "violet",

					fill: "#0000ff",

					stroke: "#000000",

					"fill_opacity": 0.5,

					"stroke_width": 1

				});





				//apply text-shadow to text

				$(".work_limits div span.limit_title").textShadow();

				$(".work_limits div span.limit_date").textShadow();

				$(".countdown_title .countdown_item_title").textShadow();



				//apply background animation to social links

				$(".social_list li a").css({"background-position" : "0px -27px"})

					.mouseover(function () {

						$(this).stop().animate({

								'backgroundPosition' : "0px 0px"

							},

							{duration:300})

					})

					.mouseout(function () {

						$(this).stop().animate({

									'backgroundPosition' : "0px -27px"

							},

							{duration:200})

					});

			});

		</script>



	</head>

	<body>

		<div class="wrapper">

			<div class="wrapper2">

				<div id="header">

					<h1 id="logo">Logo</h1>

					<h2 class="under_construction_title">Under Construction!</h2>

				</div>



				<div id="countdownHolder1">

					<!-- holder for countdown -->

				</div>



				<div id="footer">

					<ul class="social_list">

						<li class="facebook">

							<a href="http://facebook.com" target="_blank">Facebook</a>

						</li>

						<li class="twitter">

							<a href="http://twitter.com" target="_blank">Twitter</a>

						</li>

						<li class="ff">

							<a href="http://friendfeed.com" target="_blank">Friend Feed</a>

						</li>

						<li class="rss">

							<a href="http://rssnews.org.ua" target="_blank">RSS</a>

						</li>

					</ul>

				</div>

			</div>







			<div class="examples">

				<h2 class="documentation_title">DOCUMENTATION</h2>

				<div class="example example2">

					<div id="countdownHolder2">

						<!-- holder for countdown -->

					</div>

<pre>

<span class="code_descr">To add countdown to your page you need to do several steps:</span>



<span class="code_descr">Step 0. Replace accurately all scripts and links from the head to your</span>

<span class="code_descr">html page in order that is presented in this file.</span>



<span class="code_descr">Step 1. Add this line of code to your HTML file.</span>



	&lt;div id="countdownHolder1"&gt;

		&lt;!-- holder for countdown --&gt;

	&lt;/div&gt;



<span class="code_descr">Step 2. Choose what width of countdown your prefer in pixels.</span>



	var width1 = 630;



<span class="code_descr">Step 3. Choose the start date of your site reconstruction that have to be</span>

<span class="code_descr">earlier than current date (in other case the countdown could work wrong).</span>

<span class="code_descr">The date is presented in this format (year, month, day, hour, minute,</span>

<span class="code_descr">second, millisecond).</span>



	var start_works_date1 = new Date(2012, 6, 13, 23, 30, 0, 0).getTime();



<span class="code_descr">Step 4. Choose the end date of your site reconstruction. If this date</span>

<span class="code_descr">become earlier than current date the countdown will show all zeroes</span>

<span class="code_descr">and full progress line.</span>



	var end_works_date1 = new Date(2012, 7, 13, 23, 30, 0, 0).getTime();



<span class="code_descr">Step 5. Write the next part of code that is create countdown</span>



	var countdown1 = new Countdown({

		holder_id : "countdownHolder1",

		holder_width: width1,

		start_work: start_works_date1,

		end_work : end_works_date1,

		show_working_dates: true,

		show_progress_bar: true,

		progress_bar_color: "blue",

		fill: "#000000",

		stroke: "#ffffff",

		"fill_opacity": 0.5,

		"stroke_width": 1



	});



<span class="code_descr">holder_id - this the id of our empty html block where we want</span>

<span class="code_descr">            to place our countdown (see Step 1).</span>



<span class="code_descr">holder_width - in this property we put the width of our countdown.</span>

<span class="code_descr">               (see Step 2).</span>



<span class="code_descr">start_work - in this property we put the start date of work.</span>

<span class="code_descr">             (see Step 3).</span>



<span class="code_descr">end_work - in this property we put the end date of work.</span>

<span class="code_descr">           (see Step 4).</span>



<span class="code_descr">show_working_dates - if you want to show date ranges</span>

<span class="code_descr">                     turn this to 'true'.</span>



<span class="code_descr">show_progress_bar - if you want to show progress bar</span>

<span class="code_descr">                     turn this to 'true'.</span>



<span class="code_descr">progress_bar_color - if you want to choose color of progress bar</span>

<span class="code_descr">                     you could set this property to 'green', 'blue',</span>

<span class="code_descr">                     violet. 'Yellow' is a default color.</span>



<span class="code_descr">fill - set color for background of numbers.</span>



<span class="code_descr">stroke - set color for stroke of numbers.</span>



<span class="code_descr">fill_opacity - set opacity for numbers (0 - 1).</span>



<span class="code_descr">stroke_width - set stroke width for numbers (pixels).</span>





<span class="code_descr">All javascript code must be placed in this construction:</span>



$(document).ready(function () {

	// our code for countdown must be placed here

	// for example



	var dump_current_date2 = new Date().getTime(); // testing date

	var start_works_date2 = dump_current_date2 + 1 * 86400000; // testing date

	var end_works_date2 = dump_current_date2 + 2 * 86400000; // testing date

	var width2 = 630;



	var countdown2 = new Countdown({

		holder_id : "countdownHolder2",

		holder_width: width2,

		start_work: start_works_date2,

		end_work : end_works_date2,

		show_working_dates: true,

		show_progress_bar: true,

		progress_bar_color: "blue"

	});

});







</pre>

				</div>

				<div class="example example3">

					<div id="countdownHolder3">

						<!-- holder for countdown -->

					</div>

<pre>

<span class="code_descr">Example</span>



$(document).ready(function () {

	// our code for countdown must be placed here

	// for example



	var dump_current_date3 = new Date().getTime(); // testing date

	var start_works_date3 = dump_current_date3 + 1 * 86400000; // testing date

	var end_works_date3 = dump_current_date3 + 2 * 86400000; // testing date

	var width3 = 545;



	var countdown3 = new Countdown({

		holder_id : "countdownHolder3",

		holder_width: width3,

		start_work: start_works_date3,

		end_work : end_works_date3,

		show_working_dates: true,

		show_progress_bar: true,

		progress_bar_color: "green",

		fill: "#000000",

		stroke: "#ffffff",

		"fill_opacity": 0.5,

		"stroke_width": 1

	});

});

</pre>

				</div>

				<div class="example example4">

					<div id="countdownHolder4">

						<!-- holder for countdown -->

					</div>

<pre>

<span class="code_descr">Example</span>



$(document).ready(function () {

	// our code for countdown must be placed here

	// for example



	var dump_current_date4 = new Date().getTime();  // testing date

	var start_works_date4 = dump_current_date4 - 2 * 86400000;  // testing date

	var end_works_date4 = dump_current_date4 + 2 * 86400000;  // testing date

	var width4 = 400;



	var countdown4 = new Countdown({

		holder_id : "countdownHolder4",

		holder_width: width4,

		start_work: start_works_date4,

		end_work : end_works_date4,

		show_working_dates: true,

		show_progress_bar: true,

		"stroke_width": 3

	});



});

</pre>



				</div>

				<div class="example example5">

					<div id="countdownHolder5">

						<!-- holder for countdown -->

					</div>

<pre>

<span class="code_descr">Example</span>



$(document).ready(function () {

	// our code for countdown must be placed here

	// for example



	var dump_current_date5 = new Date().getTime(); // testing date

	var start_works_date5 = dump_current_date5 - 2 * 86400000; // testing date

	var end_works_date5 = dump_current_date5 + 3 * 86400000; // testing date

	var width5 = 200;



	var countdown5 = new Countdown({

		holder_id : "countdownHolder5",

		holder_width: width5,

		start_work: start_works_date5,

		end_work : end_works_date5,

		show_working_dates: true,

		show_progress_bar: true,

		progress_bar_color: "violet",

		fill: "#0000ff",

		stroke: "#000000",

		"fill_opacity": 0.5,

		"stroke_width": 1

	});

});

</pre>



				</div>

			</div>



		</div>

	</body>

</html>


