- content_for :navbar do
  %u1.nav
    %li
      %a{:href => "/"}
        Home
    %li
      %a{:href => "/design"}
        Design
    %li.active
      %a{:href => "/pricing"}
        Pricing
    %li
      %a{:href => "https://www.herffjones.com/files/dmfile/HERFFJONESRINGWARRANTYFORM.pdf"}
        Warranty/Resizing
- content_for :body do
  #pricing
    .row-fluid
      %h2.title.center
        Pricing Table
    .row-fluid
      %table.table.table-striped.table-bordered{:border => "1"}
        %tr
          %td
            %b
              Size
          %td
            %b
              10K
          %td
            %b
              14K
          %td
            %b
              18K
          %td
            %b
              Ultrium速
          %td
            %b
              Ext Silver速
        %tr
          %td
            X Sm
          %td
            $418
          %td
            $567
          %td
            $775
          %td
            $118
          %td
            $225
        %tr
          %td
            Small
          %td
            $458
          %td
            $622
          %td
            $851
          %td
            $118
          %td
            $250
        %tr
          %td
            Med
          %td
            $577
          %td
            $808
          %td
            $1113
          %td
            $118
          %td
            $275
        %tr
          %td
            Large
          %td
            $706
          %td
            $999
          %td
            $1390
          %td
            $118
          %td
            $299
    .row-fluid
      .span6.offset3
        %p
          %strong Pricing includes:
          Inside engraving in either script or block lettering, Choice of yellow or white gold Choice of ring finish on Gold, Ultrium速, and Extreme Silver速, and Lifetime Warranty
    .row-fluid
      %h2.title.center
        Options and Terms
    .row-fluid
      .span4
        .row-fluid
          %h3.title.center
            Companion Ring
        .row-fluid
          %p Students purchasing a gold MIT Ring are eligible to purchase a companion ring of the same size and style in Ultrium for $59.00
          %p 
            %strong Herff Jones Customer service:  
            1-800-837-4235
      .span4
        .row-fluid
          %h3.title.center
            Pricing Options
        .row-fluid
          %p 
            %strong Payment in Full: 
            You may pay for your order in full with a check, money order credit card or debit card
          %p 
            %strong 4 or 6 Month Credit Card Payment Plan: 
            According to the following terms, I agree to purchase a college ring through the Herff Jones Credit Card Payment Plan. I understand that upon submission of my order Herff Jones will charge one fourth (1/4) or one sixth (1/6) of my total balance due (including tax) to my credit card. I agree to pay the remaining balance in three or five equal, consecutive monthly payments thereafter. You may enjoy wearing your ring while completing your payment plan. You can call in your payments by dialing our customer service number at 1 (800) - 837 - 4235
          %p 
            %strong Deferred payment: 
            According to the terms, I agree to pay the minimum $50.00 non-refundable deposit to begin production of my MIT ring. I will be required to pay the remaining balance in full prior to the shipment of my order.
      .span4
        .row-fluid
          %h3.title.center
            Warranty
        .row-fluid
          %p Your ring, given reasonable care, will endure a lifetime. Thus we make the following warranty. Herff Jones fully warrants the ring to be free from defects in workmanship and/or material for the lifetime of the ring. If your college ring cannot be repaired or replaced under these terms, a refund will be allowed. 
          %p 
            In addition, the following services will be performed at 
            %strong NO CHARGE:
            %ul
              %li Resize Ring
              %li Restore original finish of ring
          %p
            This warranty gives you specific legal rights, and you may also have other rights which may vary from state to state. To make a claim under this warranty, contact your local Herff Jones Sales Professional or submit a completed Herff Jones Ring Warranty Form along with your ring to:
          %p
            Herff Jones, Inc. Warranty Services Dept. 
          %p 
            Email: collegeringwarranty@herffjones.com 
          %p
            Toll-free: 1-800-451-3304
